// *** variables ***

$bgImagePath: "/images/bg.jpg";
$color-white: #f6f6f6;
$color-blue: #5487bb;
$color-green: #27ae60;
$color-yellow: #ceb484;
$color-red: #e74c3c;
$color-orange: #e67e22;
$color-aquamarine: #7ac0bd;
$color-black: #34495e;
$alpha-light: 0.3;
$alpha-medium: 0.6;
$alpha-dark: 0.9;
$radius: 2px;
$fontsize-small: 12px;
$fontsize-medium: 14px;
$fontsize-large: 16px;
$phone: 767px;
$box-shadow: 0 2px 5px -1px rgba(#000, $alpha-light);

$color-fill: $color-aquamarine;
$color-stroke: $color-white;

// *** mixins ***

@mixin score($color) {
    color: $color;
    border: 1px solid rgba($color, $alpha-dark);

    &.active {
        color: $color-white;
        background-color: rgba($color, $alpha-dark);
    }
    &:hover {
        color: $color-white;
        background-color: rgba($color, $alpha-dark);
    }
}

@mixin circle($diameter) {
    padding: 0;
    width: $diameter;
    height: $diameter;
    border-radius: $diameter / 2;
}

// *** utility classes ***

.text-center { text-align: center; }

.uppercase { text-transform: uppercase; }

.muted { color: rgba($color-blue, $alpha-medium); }

.fixed-top { position: fixed; top: 0; z-index: 99; }

.fixed-bottom { position: fixed; bottom: 0; z-index: 99; }

.pull-right { float: right; }

.pull-left { float: left; }

.max-height { height: 100%; }

.max-width { width: 100%; }

.padded { padding: 5px 5px 0 5px; }

.animate-all { transition: all 0.4s; }

.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// *** element styles ***

html, body {
    height: 100%;
}

body {
    background-color: $color-blue;
    background-image: url($bgImagePath);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $color-white;

    @media screen and (max-width: $phone) {
        font-size: 80%;
    }
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
}

th, td {
    text-align: left;
}

ol {
    margin: 0 0 25px 0;

    li {
        text-align: left;
    }
}

// *** pure custom styles ***

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif;
}

.pure-menu.pure-menu-open {
    background-color: rgba(#000, 0.1);

    a {
        @extend .uppercase;
        color: $color-white;
        font-size: 90%;
    }

    li a:hover {
        background-color: transparent;
    }

    .pure-menu-selected {
        border-top: 2px solid $color-white;
    }
}

.pure-menu.pure-menu-horizontal  ul {
    height: auto;

    li { overflow: hidden; }
}

.pure-button {
    color: $color-white;
    background-color: transparent;
    border: 2px solid $color-white;
    padding: 0.5em;
    box-shadow: $box-shadow;

    &:disabled {
        border: 2px solid transparent;
    }
}

// *** other styles ***

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.map {
    width: 100%;
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @media screen and (max-width: $phone) {
        display: block;
        padding-top: 100px;

        .flex-wrapper {
            display: inline-block;
        }
    }
}

.about {
    background-color: rgba(#000, $alpha-light);

    p {
        text-align: justify;
        max-width: 600px;
        margin: 0;
        line-height: 1.75;
        font-size: 110%;
        color: $color-stroke;
    }
}

.stats {
    table {
        border: none;
        box-shadow: $box-shadow;

        th {
            font-size: 80%;
            color: $color-stroke;
            background-color: darken($color-fill, 10%);
            border: none;
            @extend .uppercase;
        }
        td {
            color: darken($color-fill, 10%);
            background-color: $color-stroke;
            border: none;
        }

        tr:nth-child(even) td {
            background-color: lighten($color-fill, 25%);
        }
    }
}

.jumbotron {
    .title {
        font-size: 300%;
        @extend .uppercase;
    }

    .title, .sub-title {
        margin: 0;
        text-shadow: 0 0.1em 0 darken($color-fill, 10%);
        text-align: center;
        color: $color-stroke;
    }

    .action {
        display: block;
        margin: 20px 5px 10px 5px;
        padding: 1em 3em;
        border-radius: $radius;
        box-shadow: $box-shadow;
        outline: none;
        border: none;
        font-size: 125%;
        text-align: center;
        color: $color-stroke;
        background-color: $color-fill;
        @extend .animate-all;

        &:hover {
            background-color: darken($color-fill, 10%);
        }
    }
}

.dropdown {
    position: relative;
    display: block;
    margin: 0 5px 5px;

    .dropdown-item {
        display: block;
        margin: 0;
        padding: 1em;
        border: none;
        border-top: solid 1px transparent;
        outline: none;
        font-size: 80%;
        letter-spacing: 0.25em;
        text-align: center;
        color: $color-fill;
        background-color: $color-stroke;
        @extend .uppercase, .animate-all;

        &.selected {
            border-radius: $radius;
            box-shadow: $box-shadow;
        }

        &:not(.selected) {
            border-color: rgba($color-fill, $alpha-light);
        }

        &:hover {
            color: $color-stroke;
            background-color: $color-fill;
        }

        i {
            font-size: 100%;
        }
    }

    .dropdown-menu {
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        box-shadow: $box-shadow;
        transform: scaleY(0);
        transform-origin: top;
        z-index: 100;
        @extend .animate-all;

        li {
            list-style-type: none;

            &:last-of-type .dropdown-item {
                border-radius: 0 0 $radius $radius;
            }
        }
    }

    &.open {
        .dropdown-item.selected {
            border-radius: $radius $radius 0 0;
        }

        .dropdown-menu {
            transform: scaleY(1);
        }
    }
}

.top-bar, .bottom-bar {
    padding: 10px;
    box-sizing: border-box;
}

.top-bar {
    @extend .fixed-top;
}

.bottom-bar {
    @extend .fixed-bottom;
}

.link {
    font-size: 160%;
    color: $color-stroke;
    @extend .animate-all;

    &[href]:hover {
        color: $color-fill;
    }
}

.share-links {
    @extend .top-bar;
    right: 0;
    z-index: 100;

    a {
        margin-left: 5px;
        @extend .link;
    }
}

.nav-list {
    @extend .fixed-bottom;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: darken($color-fill, 10%);

    .nav {
        display: block;
        padding: 1em;
        text-align: center;
        color: $color-stroke;
        background-color: $color-fill;
        box-shadow: $box-shadow inset;

        .nav-icon {
            display: block;
            font-size: 160%;
            @extend .animate-all;
        }

        .nav-text {
            display: block;
            font-size: 80%;
            @extend .uppercase, .animate-all;
        }

        &.active, &:hover {
            .nav-icon {
                transform: scale(1.5);
                transform-origin: top;
            }

            .nav-text {
                transform: translateY(100%);
                opacity: 0;
            }
        }

        @media screen and (max-width: $phone) {
            .nav-icon, .nav-text {
                display: inline-block;
                margin-right: 5px;
                font-size: 100%;
            }

            &.active, &:hover {
                .nav-icon {
                    transform: none;
                }
                .nav-text {
                    display: none;
                    transform: none;
                }
            }
        }
    }

    .nav-item {
        &:first-of-type .nav {
            background-color: lighten($color-fill, 10%);
        }

        &:last-of-type .nav {
            background-color: darken($color-fill, 10%);
        }
    }
}

.play {
    .top-bar {
        left: 0;
        width: 100%;
        text-align: center;
    }

    .life {
        position: absolute;
        @extend .link;
    }

    .score {
        display: inline-block;
        padding: 5px;
        border-radius: $radius;
        font-family: Tahoma, sans-serif;
        font-size: 120%;
        color: $color-fill;
        background-color: $color-stroke;
    }

    .bottom-bar {
        left: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        button, a {
            display: block;
            padding: 0.5em;
            width: 100%;
            border-radius: $radius;
            box-shadow: $box-shadow;
            outline: none;
            border: none;
            font-size: 125%;
            text-align: center;
            color: $color-stroke;
            background-color: $color-fill;
            @extend .animate-all;

            &:hover {
                background-color: darken($color-fill, 10%);
            }
        }

        a {
            display: inline-block;
            background-color: lighten($color-fill, 10%);
            width: auto;
            border-radius: 0 $radius $radius 0;
        }
    }

    .home-link {
        padding-left: 0;

        .icon-home {
            font-size: 100%;
        }
    }

    .next-link {
        padding-right: 0;
        text-align: right;
        a {
            border-radius: $radius 0 0 $radius;
        }
    }
}

.correct {
    background-color: $color-green;

    &:after {
        margin-left: 10px;
        font-family: 'icomoon';
        font-size: 85%;
        content: "\e004";
    }
}

.wrong {
    background-color: $color-red;

    &:after {
        margin-left: 10px;
        font-family: 'icomoon';
        font-size: 85%;
        content: "\e005";
    }
}

.progress {
    width: 100%;
    height: 3px;
    background-color: $color-red;
    overflow: hidden;

    .bar {
        width: 100%;
        height: 100%;
        background-color: $color-green;
        @extend .animate-all;
    }
}

.info {
    margin: 2px;
    padding: 0.5em 1.5em 0.5em;
    font-family: sans-serif;
    @extend .uppercase;
}

.gm-style img {
    max-width: none;
}
