@import "icomoon";

// *** variables ***

$bgImagePath: "/images/bg.jpg";
$font-family: 'Raleway', sans-serif;
$alpha-light: 0.3;
$alpha-medium: 0.6;
$alpha-dark: 0.9;
$radius: 2px;
$phone: 767px;
$box-shadow: 0 2px 5px -1px rgba(#000, $alpha-light);
$index-front: 99;

$color-black: #34495e;
$color-white: #f6f6f6;
$color-blue: #5487bb;
$color-green: #27ae60;
$color-yellow: #ceb484;
$color-red: #e74c3c;
$color-orange: #e67e22;
$color-aquamarine: #7ac0bd;
$color-fill: $color-aquamarine;
$color-stroke: $color-white;

// *** utility classes ***

.pull-left { float: left; }

.pull-right { float: right; }

%animate-all {
    transition: all 0.4s;
}

%fixed-top {
    position: fixed;
    top: 0;
    z-index: $index-front;
}

%fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: $index-front;
}

%full-size {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

%button-block {
    display: block;
    padding: 0.5em;
    box-sizing: border-box;
    box-shadow: $box-shadow;
    border-radius: $radius;
    border: none;
    outline: none;
    font-size: 1.25em;
    text-align: center;
    color: $color-stroke;
    background-color: $color-fill;
    @extend %animate-all;

    &:hover:not(:disabled) {
        background-color: darken($color-fill, 10%);
    }
}

%link {
    font-size: 1.6em;
    color: $color-stroke;
    @extend %animate-all;

    &[href]:hover {
        color: $color-fill;
    }
}


// *** element styles ***

html, body {
    height: 100%;
}

body {
    color: $color-stroke;
    background-color: $color-fill;
    background-image: url($bgImagePath);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 100%;

    @media screen and (max-width: $phone) {
        font-size: 80%;
    }

    &,
    .pure-g [class *= "pure-u"],
    .pure-g-r [class *= "pure-u"] {
        font-family: $font-family;
    }
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
}

// *** other styles ***

.container {
    @extend %full-size;
}

.map {
    @extend %full-size;

    .gm-style img {
        max-width: none;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    @extend %full-size;

    @media screen and (max-width: $phone) {
        display: block;
        padding: 60px 10px;
        text-align: center;

        .flex-wrapper {
            display: inline-block;
            max-width: 100%;
        }
    }
}

.about {
    background-color: rgba(#000, $alpha-light);

    p {
        text-align: justify;
        max-width: 600px;
        margin: 0;
        font-size: 1.1em;
        line-height: 1.75;
        color: $color-stroke;
    }
}

.stats {
    table {
        border: none;
        box-shadow: $box-shadow;

        th {
            font-size: 0.8em;
            color: $color-stroke;
            background-color: darken($color-fill, 10%);
            border: none;
            text-transform: uppercase;
        }
        td {
            color: darken($color-fill, 10%);
            background-color: $color-stroke;
            border: none;
        }

        tr:nth-child(even) td {
            background-color: lighten($color-fill, 25%);
        }
    }
}

.jumbotron {
    .title {
        font-size: 3.5em;
        text-transform: uppercase;
        text-shadow: 0 1px 0 darken($color-fill, 5%),
                     0 2px 0 darken($color-fill, 10%),
                     0 3px 0 darken($color-fill, 15%),
                     0 4px 0 darken($color-fill, 20%),
                     0 5px 0 darken($color-fill, 25%);
    }

    .sub-title {
        font-size: 1.1em;
        text-shadow: 0 1px 0 darken($color-fill, 5%),
                     0 2px 0 darken($color-fill, 10%),
                     0 3px 0 darken($color-fill, 15%);
    }

    .title, .sub-title {
        margin: 0;
        text-align: center;
        color: $color-stroke;
    }

    .action {
        margin: 20px 5px 10px 5px;
        padding: 1em 3em;
        @extend %button-block;

        &:hover {
            letter-spacing: 0.1em;
        }
    }
}

.dropdown {
    position: relative;
    display: block;
    margin: 0 5px 5px;

    .dropdown-item {
        display: block;
        margin: 0;
        padding: 1em;
        border-top: solid 1px transparent;
        font-size: 0.8em;
        letter-spacing: 0.25em;
        text-align: center;
        text-transform: uppercase;
        color: $color-fill;
        background-color: $color-stroke;
        @extend %animate-all;

        &.selected {
            border-radius: $radius;
            box-shadow: $box-shadow;
        }

        &:not(.selected) {
            border-color: rgba($color-fill, $alpha-light);
        }

        &:hover {
            color: $color-stroke;
            background-color: $color-fill;
        }

        i {
            font-size: 100%;
        }
    }

    .dropdown-menu {
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        box-shadow: $box-shadow;
        transform: scaleY(0);
        transform-origin: top;
        z-index: $index-front + 1;
        @extend %animate-all;

        li {
            list-style-type: none;

            &:last-of-type .dropdown-item {
                border-radius: 0 0 $radius $radius;
            }
        }
    }

    &.open {
        .dropdown-item.selected {
            border-radius: $radius $radius 0 0;
        }

        .dropdown-menu {
            transform: scaleY(1);
        }
    }
}

.share-links {
    @extend %fixed-top;
    right: 0;
    z-index: $index-front + 1;
    padding: 10px;

    a {
        margin-left: 5px;
        @extend %link;
    }
}

.nav-list {
    @extend %fixed-bottom;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: darken($color-fill, 10%);

    .nav {
        position: relative;
        display: block;
        padding: 1em;
        text-align: center;
        color: $color-stroke;
        background-color: $color-fill;

        .nav-icon {
            display: block;
            font-size: 1.6em;
            @extend %animate-all;
        }

        .nav-text {
            display: block;
            font-size: 0.8em;
            text-transform: uppercase;
            @extend %animate-all;

            @media screen and (max-width: $phone) {
                display: none;
            }
        }

        &.active:before {
            $length: 10px;
            position: absolute;
            display: block;
            top: -$length;
            left: 50%;
            margin-left: -$length;
            width: 0;
            height: 0;
            border-left: $length solid transparent;
            border-right: $length solid transparent;
            border-bottom: $length solid $color-fill;
            content: "";
        }

        @media screen and (min-width: $phone + 1) {
            &.active, &:hover {
                .nav-icon {
                    transform: scale(1.5);
                    transform-origin: top;
                }

                .nav-text {
                    transform: translateY(100%);
                    opacity: 0;
                }
            }
        }
    }

    .nav-item {
        &:first-of-type .nav {
            background-color: lighten($color-fill, 10%);

            &.active:before {
                border-bottom-color: lighten($color-fill, 10%);
            }
        }

        &:last-of-type .nav {
            background-color: darken($color-fill, 10%);

            &.active:before {
                border-bottom-color: darken($color-fill, 10%);
            }
        }
    }
}

.play {
    height: 100%;

    .top-bar {
        @extend %fixed-top;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .bottom-bar {
        @extend %fixed-bottom;
        left: 0;
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }

    .life {
        position: absolute;
        @extend %link;
    }

    .score {
        display: inline-block;
        padding: 5px;
        border-radius: $radius;
        font-family: Tahoma, sans-serif;
        font-size: 1.25em;
        color: $color-fill;
        background-color: $color-stroke;
    }

    .home, .next, .choice {
        padding: 5px 0 0 0;

        button {
            width: 100%;
            @extend %button-block;
        }

        a {
            display: inline-block;
            @extend %button-block;
        }
    }

    .choice {
        padding: 5px 5px 0 5px;

        .correct {
            background-color: $color-green;

            &:after {
                margin-left: 10px;
                @extend %icomoon, .icon-checkmark:before;
            }
        }

        .wrong {
            background-color: $color-red;

            &:after {
                margin-left: 10px;
                @extend %icomoon, .icon-close:before;
            }
        }
    }

    .home {
        a {
            border-radius: 0 $radius $radius 0;
            .icon-home {
                font-size: 100%;
            }
        }

        .phone-next-link {
            display: none;
            border-radius: $radius 0 0 $radius;
            float: right;

            @media screen and (max-width: $phone) {
                display: inline-block;
            }
        }
    }

    .next {
        text-align: right;

        a {
            border-radius: $radius 0 0 $radius;
        }
    }
}

.result {
    .panel {
        min-width: 320px;

        .panel-header {
            color: $color-stroke;
            background-color: $color-fill;
            font-size: 1.5em;
            padding: 0.5em;
            text-align: center;
        }

        .panel-body {
            padding: 0.5em;
            color: $color-fill;
            background-color: $color-stroke;
            text-align: left;
        }

        .panel-footer {
            padding: 5px;
            background-color: $color-stroke;

            a {
                margin: 5px;
                @extend %button-block;
            }
        }
    }
}
