<p>
  Google Streetview car has traveled across the 7 continents to capture expansive panoramic views of some of the most interesting places of the world. It has helped travelers and locals to get a better view of the establishments or places they are looking for. But ultimately, you are now able to virtually tour a city with a 360 degree view with it. Awesome indeed!
</p>
<p>
  WhereAmIDriving.com takes you to 12 random cities where your task is to identify each one of them. You are presented with the StreetView of the city and your clues are pretty much everything you see in it. You can move around if you're still looking for more clues, but that will cost you points. You can also select to play in just a particular region, like USA or Europe among others.
</p>
<p>
  For technical details, visit the github page at <a href="https://github.com/darklight721/whereamidriving.com" target="_blank">https://github.com/darklight721/whereamidriving.com</a>
</p>
