<div class="pure-u-1 max-height">
  <div class="flex-center">
    <div class="main text-center">
      <button class="pure-button play-button icon-play" ng-click="play()"></button>
      <div class="dropdown">
        <button class="pure-button dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="disabled"><a href="">Regions</a></li>
          <li ng-repeat="region in regions"><a href="" ng-click="play(region)">{{ region }}</a></li>
        </ul>
      </div>
      <p>
        Can you identify a city based on the architectural styles of the buildings and the roads, or perhaps by the famous landmarks it is known for, or the type of public transportation, anything you see on the streets? Hop on and see the world from a street level perspective via Google's StreetView Car and challenge yourself!
      </p>
    </div>
  </div>
</div>
