<div class="pure-u-1 max-height">
  <div class="flex-center">
    <div class="about">
      <p>
        Google Streetview car has traveled across the 7 continents to capture expansive panoramic views of some of the most interesting places of the world. It has helped travelers and locals to get a better view of the establishments or places they are looking for. But ultimately, you are now able to virtually tour a city with a 360 degree view with it. Awesome indeed!
      </p>
      <p>
        WhereAmIDriving.com is made possible using Goolge's Streetview imagery. Your goal is to correctly identify as many cities as you can given only the streetview images. Your life starts at 15. Each wrong guess deducts 5 points from your life, while moving the car to look for more clues deducts 1 point. The game is over when your life's down to 0 or if you've exhausted the list of random cities.
      </p>
      <p>
        For technical details, visit the github page at <a href="https://github.com/darklight721/whereamidriving.com" target="_blank">https://github.com/darklight721/whereamidriving.com</a>
      </p>
    </div>
  </div>
</div>