<div class="flex-center main">
  <div class="flex-wrapper">
    <div class="pure-g-r">
      <div class="pure-u-1 jumbotron">
        <h1>Where am I driving?</h1>
        <p>Identify as many cities as you can from these streetview images.</p>
        <button ng-click="play()">Start Playing! <i class="icon-chevron-sign-right"></i></button>
        <div class="dropdown">
          <ul class="dropdown-menu">
            <li class="disabled"><a href="">Regions</a></li>
            <li ng-repeat="region in regions"><a href="" ng-click="play(region)">{{ region }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<nav active="main"></nav>

