<div class="pure-u-1 max-height play" ng-init="play()">
  <map position="{{city.position}}"></map>
  <div class="top-bar">
    <div class="life" title="Life">
      <span ng-repeat="l in lives()">
        <i class="icon-heart" ng-show="$index < life()"></i>
        <i class="icon-heart2" ng-hide="$index < life()"></i>
      </span>
    </div>
    <div class="score" title="Score"><strong>{{score()}}</strong></div>
  </div>
  <div class="bottom-bar">
    <div class="pure-g-r">
      <div class="pure-u-1-5">
        <div class="padded home-link">
          <a href="#">
            <i class="icon-arrow-left"></i>
            <i class="icon-home"></i>
          </a>
        </div>
      </div>
      <div class="pure-u-3-5">
        <div class="pure-g-r">
          <div ng-repeat="choice in city.choices" class="pure-u-1-{{ city.choices.length }}">
            <div class="padded choice">
              <button ng-click="choose(choice)" ng-disabled="answer" ng-class="state(choice)">{{choice}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="padded next-link" ng-show="answer">
          <a ng-click="next()">Next <i class="icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
