<div class="pure-u-1 max-height" ng-init="play()">
  <map onposchanged="updateLife()" position="{{city.position}}" class="max-height"></map>
  <div class="play fixed-bottom">
    <div class="pure-g-r">
      <div class="pure-u-1">
        <life count="{{life()}}"></life>
      </div>
      <div class="pure-u-1-5">
        <div class="padded pure-hidden-phone">
          <div class="info"><i class="icon-heart-fill" title="Life"></i> {{life()}} / <i class="icon-star" title="Score"></i> {{score()}}</div>
        </div>
      </div>
      <div class="pure-u-3-5">
        <div class="pure-g-r">
          <div ng-repeat="choice in city.choices" class="pure-u-1-{{ city.choices.length }}">
            <div class="padded">
              <button ng-click="choose(choice)" ng-disabled="answer" ng-class="state(choice)" class="pure-button max-width">{{choice}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="padded" ng-show="answer">
          <button class="pure-button max-width" ng-click="next()">Next <i class="icon-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>