@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000351;
  }
}

.text-center {
  text-align: center;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000353;
  }
}

.uppercase,
.pure-menu.pure-menu-open a,
.main p,
.dropdown .dropdown-menu > li.disabled > a,
.info {
  text-transform: uppercase;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000355;
  }
}

.muted,
.dropdown .dropdown-menu > li.disabled > a {
  color: rgba(84, 135, 187, 0.6);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000357;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 99;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000359;
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  z-index: 99;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000361;
  }
}

.pull-right {
  float: right;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000363;
  }
}

.pull-left {
  float: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000365;
  }
}

.max-height {
  height: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000367;
  }
}

.max-width {
  width: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000369;
  }
}

.padded {
  padding: 5px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000371;
  }
}

.animate,
.swap i,
.swap:after,
.progress .bar {
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000374;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000378;
  }
}

.clearfix:after {
  clear: both;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000383;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000396;
  }
}

html,
body {
  height: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003100;
  }
}

body {
  background-color: #5487bb;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f6f6f6;
}

@media screen and (max-width: 767px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003100;
    }
}

  body {
    font-size: 80%;
  }
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003113;
  }
}

header {
  width: 100%;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003118;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003123;
  }
}

button {
  font-family: inherit;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003127;
  }
}

th,
td {
  text-align: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003131;
  }
}

ol {
  margin: 0 0 25px 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003134;
  }
}

ol li {
  text-align: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003143;
  }
}

body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: 'Raleway', sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003147;
  }
}

.pure-menu.pure-menu-open {
  background-color: rgba(84, 135, 187, 0.9);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003150;
  }
}

.pure-menu.pure-menu-open a {
  color: #f6f6f6;
  font-size: 90%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003156;
  }
}

.pure-menu.pure-menu-open li a:hover {
  background-color: transparent;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003160;
  }
}

.pure-menu.pure-menu-open .pure-menu-selected {
  border-top: 2px solid #f6f6f6;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003165;
  }
}

.pure-menu.pure-menu-horizontal ul {
  height: auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003168;
  }
}

.pure-menu.pure-menu-horizontal ul li {
  overflow: hidden;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003171;
  }
}

.pure-button {
  color: #f6f6f6;
  background-color: transparent;
  border: 2px solid #f6f6f6;
  padding: 0.5em;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003178;
  }
}

.pure-button:disabled {
  border: 2px solid transparent;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003190;
  }
}

.swap:after {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  opacity: 0;
  content: attr(title);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003203;
  }
}

.swap:hover i {
  color: transparent;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003207;
  }
}

.swap:hover:after {
  top: 0;
  opacity: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003214;
  }
}

ul.share-buttons {
  margin: 0 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003217;
  }
}

ul.share-buttons li a i {
  vertical-align: middle;
  font-size: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003223;
  }
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003223;
    }
}

  .flex-center {
    display: block;
    width: 100%;
    padding-top: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003236;
    }
}

  .flex-center > div {
    display: inline-block;
  }
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003242;
  }
}

.main,
.about,
.result,
.stats {
  background-color: rgba(84, 135, 187, 0.3);
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003248;
  }
}

.main p,
.about p,
.result p,
.stats p {
  text-align: justify;
  max-width: 600px;
  padding: 10px;
  margin: 0;
  line-height: 1.75;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003257;
  }
}

.main p {
  text-align: center;
  text-indent: 0;
  font-size: 120%;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003266;
  }
}

.play-button {
  margin: 25px 0;
  font-size: 400%;
  vertical-align: middle;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003272;
  }
}

.play-button:before {
  margin-left: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003277;
  }
}

.dropdown {
  display: inline-block;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003280;
  }
}

.dropdown .dropdown-toggle {
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003283;
  }
}

.dropdown .dropdown-toggle .caret {
  border-top: 4px solid #f6f6f6;
  vertical-align: middle;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003289;
  }
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  margin: 3px 0 0 0;
  padding: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  background-color: rgba(246, 246, 246, 0.9);
  color: #5487bb;
  z-index: 99;
  list-style: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003302;
  }
}

.dropdown .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
  text-align: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003310;
  }
}

.dropdown .dropdown-menu > li.disabled > a {
  font-size: 80%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003315;
  }
}

.dropdown .dropdown-menu > li:not(.disabled) > a:hover {
  color: #f6f6f6;
  background-color: rgba(84, 135, 187, 0.9);
  background-image: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003323;
  }
}

.dropdown.open .dropdown-menu {
  display: block;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003328;
  }
}

.play {
  width: 100%;
  background-color: rgba(84, 135, 187, 0.9);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003333;
  }
}

.correct {
  background-color: #27ae60;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003336;
  }
}

.correct:after {
  margin-left: 10px;
  font-family: 'icomoon';
  font-size: 85%;
  content: "\e004";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003344;
  }
}

.wrong {
  background-color: #c0392b;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003347;
  }
}

.wrong:after {
  margin-left: 10px;
  font-family: 'icomoon';
  font-size: 85%;
  content: "\e005";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003355;
  }
}

.progress {
  width: 100%;
  height: 3px;
  background-color: #c0392b;
  overflow: hidden;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003362;
  }
}

.progress .bar {
  width: 100%;
  height: 100%;
  background-color: #27ae60;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003370;
  }
}

.info {
  margin: 2px;
  padding: 0.5em 1.5em 0.5em;
  font-family: sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/roy\/Projects\/whereamidriving\.com\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003377;
  }
}

.gm-style img {
  max-width: none;
}
