@import url(icomoon.css);

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000354;
  }
}

.text-center {
  text-align: center;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000356;
  }
}

.uppercase,
.pure-menu.pure-menu-open a,
.dropdown .dropdown-menu > li.disabled > a,
.info,
.table th {
  text-transform: uppercase;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000358;
  }
}

.muted,
.dropdown .dropdown-menu > li.disabled > a {
  color: rgba(84, 135, 187, 0.6);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000360;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 99;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000362;
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  z-index: 99;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000364;
  }
}

.pull-right {
  float: right;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000366;
  }
}

.pull-left {
  float: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000368;
  }
}

.max-height {
  height: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000370;
  }
}

.max-width {
  width: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000372;
  }
}

.padded {
  padding: 5px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000375;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000379;
  }
}

.clearfix:after {
  clear: both;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000384;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000397;
  }
}

html,
body {
  height: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003101;
  }
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: #f6f6f6;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003108;
  }
}

header {
  width: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003112;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003117;
  }
}

button {
  font-family: inherit;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003121;
  }
}

th {
  text-align: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003129;
  }
}

body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: 'Raleway', sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003133;
  }
}

.pure-menu.pure-menu-open {
  background-color: rgba(84, 135, 187, 0.9);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003136;
  }
}

.pure-menu.pure-menu-open a {
  color: #f6f6f6;
  font-size: 90%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003142;
  }
}

.pure-menu.pure-menu-open li a:hover {
  background-color: transparent;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003146;
  }
}

.pure-menu.pure-menu-open .pure-menu-selected {
  border-top: 2px solid #f6f6f6;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003151;
  }
}

.pure-menu.pure-menu-horizontal ul {
  height: auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003154;
  }
}

.pure-menu.pure-menu-horizontal ul li {
  overflow: hidden;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003157;
  }
}

.pure-button {
  color: #f6f6f6;
  background-color: transparent;
  border: 2px solid #f6f6f6;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003162;
  }
}

.pure-button:disabled {
  border: 2px solid transparent;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003170;
  }
}

.swap i {
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003174;
  }
}

.swap:after {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  opacity: 0;
  content: attr(title);
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003187;
  }
}

.swap:hover i {
  color: transparent;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003191;
  }
}

.swap:hover:after {
  top: 0;
  opacity: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003198;
  }
}

.twitter-share-button {
  padding: 6px 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003202;
  }
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003209;
  }
}

.main,
.about,
.result,
.stats {
  background-color: rgba(84, 135, 187, 0.3);
  border-radius: 2px;
  padding: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003214;
  }
}

.main p,
.about p,
.result p,
.stats p {
  text-align: justify;
  max-width: 600px;
  padding: 10px;
  margin: 0;
  text-indent: 50px;
  line-height: 1.75;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003224;
  }
}

.play-button {
  margin: 25px 0;
  font-size: 400%;
  vertical-align: middle;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003230;
  }
}

.play-button:before {
  margin-left: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003235;
  }
}

.dropdown {
  display: inline-block;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003238;
  }
}

.dropdown .dropdown-toggle {
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003241;
  }
}

.dropdown .dropdown-toggle .caret {
  border-top: 4px solid #f6f6f6;
  vertical-align: middle;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003247;
  }
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  margin: 3px 0 0 0;
  padding: 5px 0;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(246, 246, 246, 0.9);
  color: #5487bb;
  z-index: 99;
  list-style: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003260;
  }
}

.dropdown .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  white-space: nowrap;
  text-align: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003268;
  }
}

.dropdown .dropdown-menu > li.disabled > a {
  font-size: 80%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003273;
  }
}

.dropdown .dropdown-menu > li:not(.disabled) > a:hover {
  color: #f6f6f6;
  background-color: rgba(84, 135, 187, 0.9);
  background-image: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003281;
  }
}

.dropdown.open .dropdown-menu {
  display: block;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003286;
  }
}

.play {
  width: 100%;
  background-color: rgba(84, 135, 187, 0.9);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003291;
  }
}

.correct {
  background-color: #27ae60;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003294;
  }
}

.correct:after {
  margin-left: 10px;
  font-family: 'iconic';
  font-size: 85%;
  content: "\e004";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003302;
  }
}

.wrong {
  background-color: #c0392b;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003305;
  }
}

.wrong:after {
  margin-left: 10px;
  font-family: 'iconic';
  font-size: 85%;
  content: "\e005";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003313;
  }
}

.progress {
  width: 100%;
  height: 3px;
  background-color: #c0392b;
  overflow: hidden;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003319;
  }
}

.progress .bar {
  width: 100%;
  height: 100%;
  background-color: #27ae60;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003327;
  }
}

.info {
  margin: 2px;
  padding: 0.5em 1.5em 0.5em;
  font-family: sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003335;
  }
}

.table th,
.table td {
  border-top: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003338;
  }
}

.table th {
  font-weight: normal;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003344;
  }
}

.result {
  font-size: 16px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003347;
  }
}

.result p {
  margin-bottom: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003351;
  }
}

.result .rating {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  line-height: 40px;
  background-color: #c0392b;
  color: #f6f6f6;
  font-size: 16px;
  text-align: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/Roy\/Projects\/gtc\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003365;
  }
}

.result .rating.pass {
  background-color: #27ae60;
}